<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="col-sm-4">
        <h3> Type: </h3> <p> {{recipe.type}}</p>
        <h3>Id: </h3> <p>{{recipe.id}}</p>
        <h3>Output Item: </h3> <p> {{#recipe.outputItemId}} {{item.name}} {{/recipe.outputItemId}}</p>
        <h3>Time to Craft: </h3> <p>{{recipe.timeToCraft}}ms</p>
        <h3>Discipline(s):</h3> <p>{{recipe.disciplines}}</p>
        <h3>Ingredients:</h3> <p>{{#ingredientItem}} {{.}} {{/ingredientItem}}</p>
    </div>
</div>
</body>
</html>